<div class="container">
  <p> Há <%= @products.count %> produtos criados </p>
  <p> <%= link_to 'Criar um novo produto', new_product_path, method: :get %> </p>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-6 col-sm-4">
        <div class="card">
            <h3> ID: <%= product.id %> </h3>
            <p> Descrição do produto: <%= product.description %> </p>
            <p> Quantidade: <%= product.quantity %> </p>
            <p> Preço: <%= product.price %> </p>
            <%= link_to "Apagar", product_path(product),
              method: :delete,
              data: { confirm: "Tem certeza que quer apagar este produto?" } %>
             <%= link_to "Editar", edit_product_path(product) %>
        </div>
      </div>
    <% end %>
</div>
